@use "../../styles/sass/abstracts/variables" as var;
@use "../../styles/sass/base/colors" as colors;

footer {
	border: var.$border;
	border-radius: var.$border-radius;
	box-shadow: colors.$shadow;
	background-image: colors.$dark-gradient;

	ul {
		border-bottom: var.$border !important;
	}
}
