@use "../base/colors" as colors;
@use "../abstracts/variables" as var;

.dropdown-menu {
	border: var.$border !important;
	border-radius: var.$border-radius !important;
	box-shadow: colors.$shadow !important;
	background-image: colors.$dark-gradient !important;
	background: transparent !important;

	@media screen and (min-width: 768px) {
		margin-top: 10px !important;
	}

	a {
		color: colors.$text !important;

		div {
			display: flex;
			flex-direction: row;
			column-gap: 1vh;
		}
	}

	.dropdown-item,
	.dropdown-item {
		transition: all 0.3s ease-in-out;
	}

	.dropdown-item div {
		padding: 5px !important;
		border-radius: 10px !important;
	}

	.dropdown-item div:focus,
	.dropdown-item div:hover {
		color: colors.$primary !important;
		background-color: colors.$text !important;

		transition: all 0.3s ease-in-out;
	}

	.dropdown-item:focus,
	.dropdown-item:hover {
		background-color: transparent !important;
	}
}
