@use "../../styles/sass/abstracts/variables" as var;
@use "../../styles/sass/base/colors" as colors;

.navbar {
	background-color: colors.$primary !important;
}

.topnav {
	border: var.$border;
	border-radius: var.$border-radius;
	box-shadow: colors.$shadow;
	background-image: colors.$dark-gradient;

	.nav-link,
	.nav-item {
		font-size: 15px !important;
	}
}

@media screen and (min-width: 768px) {
	.topnav {
		max-height: 250px !important;
	}
}

@media screen and (max-width: 786px) {
	.topnav {
		padding: 0 0 0 15px !important;
	}
}

.navbar-brand {
	font-weight: bold !important;
	font-size: 30px !important;
}
